@media screen and (max-width: 992px) {
    .my-overfl-y {
    }
    .table {
        min-width: 900px !important;
        overflow-y: auto;
    }
}
.navbar {
    position: fixed !important;
    width: 100%;
}
.my-navigation {
    position: fixed;
    top: 27px;
    padding-top: 20px;
    z-index: 1020;
}

main {
    padding-top: 50px;
}

.table {
    margin-bottom: 100px !important;
}
.logo,
.ver,
.footer a {
    color: var(--bs-link-color);
}
.footer a:hover {
    color: yellow;
}

.ver {
    font-size: 12px !important;
}
